body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

em {
  background: cyan;
  font-style: normal;
}

.header-bg {
  background-image: url("./assets/banner.png");
  background-size: contain;
}


.ais-Stats {
  margin-top: 5px;
  margin-bottom: 10px;
}
.ais-ClearRefinements{
  padding: 5px
}

.ais-Hits-item:hover {
  background-color: #80adc2;
  cursor: pointer;
}
.hits_card .ais-Hits-item{
  width: 33.33%;
  float: left;
}