body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

em {
  background: cyan;
  font-style: normal;
}

.header-bg {
  background-image: url("./assets/banner-min.png");
  background-size: contain;
}


.ais-ClearRefinements{
  padding: 5px
}

.ais-Hits-item:hover {
  background-color: #80adc2;
  cursor: pointer;
}
.hits_card .ais-Hits-item{
  width: 33.33%;
  float: left;
}
.ais-Hits-table .ais-Hits-item{
  padding:5px 10px;
}

@media (min-width: 1500px) {
  .hits_card .ais-Hits-item {
    width: 20%;
  }
}
@media (min-width: 2000px) {
  .hits_card .ais-Hits-item {
    width: 14%
  }
}

.elo-bar{
  width: 24px;
  background-color: #686666;
  margin-right: 5px;
  border: solid 0.1px #ccc
}

/* Best Move */
.move-classification-best,
.move-classification-best-move {
  color: #95bb4a;
}

/* Excellent Move */
.move-classification-excellent {
  color: #96bc4b;
}

/* Good Move */
.move-classification-good {
  color: #96af8b;
}

/* Book Move */
.move-classification-book {
  color: #a88865
}

/* Inaccuracy */
.move-classification-inaccuracy {
  color: #f0c15c
}

/* Mistake */
.move-classification-mistake {
  color: #e58f2a
}

/* Blunder */
.move-classification-blunder {
  color: #ca3431
}

.move-classification-briliant {
  color: #1baca6;
}
.move-classification-great,
.move-classification-great-move {
  color: #5c8bb0;
}
.move-classification-miss {
  color: #ee6b55
}
.idui-popover {
  width: 0px;
  height: 0px;
}
.hideme {
  z-index: 0 !important;
}